<p-panel header="Pipes numéricos" class="p-1">
	<p>
		Pipes incluídos en Angular - Usualmente en el common module
	</p>
</p-panel>
<div class="grid">
	<div class="col-12 md:col-4">
		<p-card header="number: '1.2-2'">
			{{totalSells | number: '1.2-2'}}
		</p-card>
	</div>
	<div class="col-12 md:col-4">
		<p-card header="currency: '1.4-4'">
			{{totalSells | currency:'ARS': 'symbol-narrow': '1.4-4'}}
		</p-card>
	</div>
	<div class="col-12 md:col-4">
		<p-card header="percent: '1.2-2'">
			{{percent | percent: '1.2-2'}}
		</p-card>
	</div>
</div>
